// COLOURS
$beige: #f8f3eb;
$navy: #171a1e;
$white: #ffffff;

// FONTS
$body-font: var(--font-geist-sans);
$heading-font: var(--font-spline-sans);

// BREAKPOINTS
$small-mobile: 400px;
$mobile: 768px;
$tablet: 1024px;
$desktop: 1440px;
