.accordion {
	display: flex;
	flex-direction: column;
	gap: 1.125rem;

	&__item {
		border-bottom: 1px solid #3e3e3e;
		overflow: hidden;

		&__trigger {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 1.125rem;
			font-weight: 500;
			line-height: 138%;
			padding-bottom: 0.75rem;
			margin-right: 4px;
			cursor: pointer;
			transition: opacity 0.3s ease;

			&:hover {
				opacity: 0.8;
			}

			&__icon {
				display: flex;
				align-items: center;
				transform: rotate(0deg);
				transform-origin: center;
				transition: transform 0.3s ease;

				&--rotate {
					transform: rotate(45deg);
					transition: transform 0.3s ease;
				}
			}
		}

		$transition: height 0.3s ease;

		&__content {
			height: 0px;
			transition: height 0.3s ease;

			&--active {
				height: 50px;
				transition: height 0.3s ease;
			}
		}
	}
}
