// not sure how to avoid code repetition in the transitions here

.arrow {
	&__square {
		opacity: 1;
		transition:
			all 0.2s ease,
			color 0.05s;

		&--hover {
			opacity: 0;
			transition:
				all 0.2s ease,
				color 0.05s;
		}
	}

	&__icon {
		transform: translateX(0px);
		transition:
			all 0.2s ease,
			color 0.05s;

		&--hover {
			transform: translateX(4px);
			transition:
				all 0.2s ease,
				color 0.05s;
		}
	}
}
